name: CI Build Image

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          # Đây là TÊN BIẾN bạn sẽ đặt trong phần Settings của GitHub
          username: ${{ secrets.masterhuthiu }}
          password: ${{ secrets.123456a@A }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Thay 'masterhuthiu' bằng ID Docker Hub của bạn
          tags: masterhuthiu/my-custom-app:latest
